.Loader
{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-image: url("/public/rlbackground.jpg");
    background-size: cover;
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    background-color: rgba(75, 74, 74, 0.5);
    background-blend-mode: overlay;

    .loadHeader
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-size: 30px;
    }
}

.Tracker
{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-image: url("/public/rlbackground.jpg");
    background-size: cover;
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;

  .h1
  {
    display: flex;
    justify-content: center;
  }
}

.Boxes
{
    display: flex;
    justify-content: center;
    gap: 1vw;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards
}

@keyframes fadeIn {
  from{opacity:0} to {opacity:1}
}